@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html, body, .wrapper {
  height: 100%;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50px;
  nav{
    width: 1000px;
    margin: 50px auto;
    a {
      display: inline-block;
      color: #fff;
      width: 100px;
      height: 50px;
      float: right;
      line-height: 50px;
      text-align: center;
    }

    a:hover{
      transition: border-bottom 1s;
      border-bottom: 1px solid #F5AB35;
    }
  }

}

main {
  height: 100%;
  .overlay {
    width: 100%;
    height: 100%;
    background: url("../../img/bg1.jpg");
    background-size: cover;
    position: relative;
    .cover {
      position: relative;
      width: 100%;
      height: 100%;
      background: #333;
      opacity: 0.7;
      z-index: 10;
    }
  }
  .content {
    height: 500px;
  }
}


